.THIS .subCard{
    margin-left: 12%;
    margin-top: -13%;
}

.THIS .mainHeader{
     margin-left: 25%;
}

.THIS .EdgeMaintanance{
    box-shadow: 0px 2px 5px silver;
    margin-top: 3%;
    width: 50%;
    margin-left: 1%;
}

.THIS .internalViewMaintanance{
    box-shadow: 0px 2px 5px silver;
    margin-top: 15%;
    width: 50%;
    height: 50%;
    margin-left: 24%;
    opacity: 100%;
    background: white;
}


.THIS .maintananceBody{
    width: 40%;
    padding: 0% !important;
    margin-top: 10%;
    border-style: solid;
    border-color: red;
    border-width: thin
}
.THIS .maintanenceHeader{
    text-align: center;
    font-size: 100%;
    font-weight: 500;
}

.THIS .maintanenceSubHeader{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 75%;
}

.THIS .maintanenceDateHeader{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 100%;
}

.THIS .maintanenceIntHeader{
    text-align: center;
    font-size: 125%;
    font-weight: 500;
}

.THIS .maintanenceIntSubHeader{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 100%;
}

.THIS .maintanenceDateIntHeader{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 100%;
}
.THIS .maintanenceContentBody{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 75%;
}
.THIS .maintanenceInternalContentBody{
    margin-top: 1%;
    font-size: 75%;
}

.THIS .closeInternal{
    background-color: grey;
}