.THIS {
}

.THIS.container {
    width: 90%;
    min-height: 3rem;
    max-height: 6rem;
    margin-left: 5%;
    border-bottom: 1px solid gray;
    font-size: 1rem;
}

.THIS.container > a {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.THIS.container > a:focus {
    outline: none;
}