:host{
    --slds-c-button-brand-text-color : white;
    --slds-c-button-brand-text-color-hover : white;
    --slds-c-button-radius-border: 25px;
    --slds-c-button-line-height: 35px;
    --slds-c-button-brand-spacing-inline-end: 30px;
    --slds-c-button-brand-spacing-inline-start: 30px;
}