.THIS .slds-card{
    padding-top: 0px;
}

.THIS {
    background-color: #F2F4F7;
}

.THIS .slds-vertical-tabs { 
    border:none;
    width:100%;
}

.THIS .slds-select{
    width:100%;
    min-width:max-content;
}