.THIS {
    padding-left: 5%;
    padding-right: 10%;
}

.THIS .benchmarkHeader{
    background-color: #325f5e !important;
    padding: 1px;
    padding-bottom: 0px;
    width: 30%;
}

.THIS .benchmarkHeaderMed{
    background-color: #325f5e !important;
    padding: 1px;
    padding-bottom: 0px;
    width: 40%;
}

.THIS .benchmarkHeaderTurnover .slds-card{
    padding: 1px;
}


.THIS .benchmarkHeader .slds-card__body{
    padding: 1px;
}

.THIS .benchmarkHeaderMed .slds-card__body{
    padding: 1px;
}

.THIS .benchmarkHeaderTurnover .slds-card__body{
    padding: 1px;
}

.THIS .benchmarkHeaderId{
    height:30%;
    width:30%
}

.THIS .benchmarkHeaderId .slds-card__body{
    padding: 1px;
}

.THIS .benchmarkHeaderIdMed{
    height:30%;
    width:30%
}
.THIS .benchmarkHeaderIdMed .slds-card__body{
    padding: 1px;
}

.THIS .benchmarkHeaderText{
    color: white;
    background-color: #325f5e;
    padding-bottom: 5%;
}

/*.THIS .slds-required {
    font-size: xx-small;
    color: black;
}*/

.THIS .smallHeaderStyle{
    padding-top: 100px;
    padding-bottom: 5px;
}

.THIS .tmStyle {
    font-size: 50%;
    color: black;
}

.THIS .tmStyle2 {
    font-size: 70%;
    color: black;
}

.THIS .footer{
    padding: 1px;
    padding-bottom: 0px;
    width: 20%;
}

.THIS .footer .slds-card__body{
    padding: 1px;
}

.THIS .footerId{
    height:30%;
    width:30%
}

.THIS .footerId .slds-card__body{
    padding: 1px;
}

.THIS .very-large {
    zoom: 1000%;
}

.THIS.benchMarkSpinner{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}