.THIS {
    min-height: 10vh;
    width: 100% !important;

    display: flex;
    align-items: center;
    justify-content: center;
}

.THIS .banner-container {
    width: 100%;
    border-radius: 4px;
    padding: 1rem;
    background: white;
    margin: auto;
}

.THIS img {
    height: 2.5rem;
    width: 2.5rem;
}

.THIS .text-color_gold {
    color: gold;
}

.THIS .text-color_green {
    color: green;
}

.THIS .text-color_blue {
    color: rgb(0, 112, 210);
}

.THIS .text-color_red {
    color: #c20505;
}

.THIS .text-color_purple {
    color: #50316e;
}

.THIS .text-color_dark-gray {
    color: rgb(85, 80, 77);
}

.THIS .text-color_orange {
    color: rgb(190, 81, 8);
}

.THIS .icon_green svg {
    fill: green;
}

.THIS .icon_gold svg {
    fill: gold;
}

.THIS .width-full {
    width: 100%;
}

.THIS .margin-small {
    margin: .5rem;
}

.THIS .grid-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.THIS .banner-header {
    background: rgb(243, 242, 242);
    height: 2rem;
    border-bottom: 1px solid rgb(221, 219, 218);
}

.THIS .banner-body {
    font-size: 1rem;
    padding: .5rem;
}

.THIS .box {
    border-radius: .25rem;
    border: 1px solid rgb(221, 219, 218);
}

.THIS .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.THIS .hyperlink-text {
    cursor: pointer;
    color: rgb(0, 109, 204);
}

.THIS .hyperlink-text:hover {
    text-decoration: underline;
}

.THIS .clickable-banner-item {
    cursor: pointer;
}