.THIS .slds-file-selector__body{
    padding: 1em;    
}
.THIS .body{
    text-align: justify; 
}
.THIS h1{
    font-size:18px;
}

.THIS .slds-form-element{
    position: relative;
    top: -1.3rem;
}


.THIS .slds-file-selector_files .slds-file-selector__body
{
    display:grid !Important;
    align-items: center;
}

.THIS .slds-file-selector__body{
	margin:25px;    
}

.THIS .slds-file-selector__dropzone{
    background-color: #f3fbff;
        border: dashed;
    border-width: 2px;
    border-radius: 10px;
    border-color: #ccd4db;
}

.THIS .slds-file-selector__button{
    background-color: #0059a2;
    color: white;   
    font-weight: bold;
}

.THIS .slds-file-selector__text .slds-medium-show
{
    text-align:center;
}

.THIS .slds-file-selector_files .slds-file-selector__text{
   	margin-top: 5px;
    text-align: center; 
}

.THIS .templateborder {
    border-style: solid;
    border-width: 1px;
    border-color: #E6ECF3;
    height: 38px;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.THIS .buttonlabel {
    font-size: 14px;
}