.THIS .summary_discrepancy_columns-actionNeeded{
    background: rgb(255 136 136 / 41%);
    border-radius: 0.2rem;
    margin: 0.5rem;
}

.THIS .summary_discrepancy_columns-notSubmitted{
    background: rgb(185 185 185 / 21%);
    border-radius: 0.2rem;
    margin: 0.5rem;
}

.THIS .summary_discrepancy_columns-completed{
    background: rgb(12 157 0 / 11%);
    border-radius: 0.2rem;
    margin: 0.5rem;
}

.THIS .slds-icon_container{
    margin: 0rem 0.25rem 0.25rem 0rem;
}