.THIS .CompInfoHeader{
    padding-top: 0px;
    background-color: #F2F4F7;
    border: none;
}

.THIS .slds-card{
    background-color: #F2F4F7;
    padding-top: 0px;
}

.THIS .slds-form-element__control .slds-radio {
    padding-left: 0rem;
}

.THIS .slds-form-element__control {
    display: inline-flex;
}

.THIS .slds-small-size_12-of-12{
 padding-left: 0px !important;    
}

.THIS .slds-form-element{
     width: auto !important;
     padding-right: 6% !important;
}

.THIS .slds-select_container .slds-select{
    width:auto !important;
}

.THIS .declarationText{
    padding-left: 6%;
    font-style: italic;
}