/* @font-face{
    font-family: 'GraphikRegular';
    src: url('/Font_Graphik-Publico-Web/Graphik-Regular-Web.woff') format('woff'); 
    
} */
@font-face{
    font-family: 'PublicoBanner';
    src: url('https://paychex--fullsandbx.sandbox.my.site.com/AccountantProgram/s/sfsites/c/resource/PaychexFont/Font_Graphik-Publico-Web/PublicoBanner-Bold-Web.woff') format('woff'); 
}  
/* @font-face{
    font-family: 'PublicoBanner';
    src: url('https://paychex.my.site.com/AccountantProgram/s/sfsites/c/resource/PaychexFont/Font_Graphik-Publico-Web/PublicoBanner-Bold-Web.woff') format('woff'); 
}   */
/* @font-face{
    font-family: 'PublicoBanner';
    src:"{! $Resource.PaychexFont + '/Font_Graphik-Publico-Web/PublicoBanner-Bold-Web.woff'}" format('woff') ;
} */


.THIS .firstRow{
	text-align:center;
    font-family: 'Arial';
}
.THIS.tablewidth{
    width:1000px;
    font-family: 'GraphikRegular';

}
.THIS .paychexBlueButton{
    background-color:#0059a2;
    color: #FFFFFF;
    font-family: 'Arial';
    width:170px;
    height:35px;
    border-radius:25px;
    background:#0059a2;
    color:white;
    /* font-family: 'GraphikRegular'; */

}
.THIS{
    background-color:#F2F4F7 ;
}
.THIS h2{
        font-family: 'PublicoBanner';
        text-align: center;
}
.THIS .graphikFont{
    font-family: 'GraphikRegular';
}
.THIS table{
    font-family: 'PublicoBanner';

}
/*.THIS .slds-popover_tooltip,
.THIS .slds-popover--tooltip {
background-color: #FF0000; /* background color /
color: #444444; / text color 
}*/

/*.THIS .helpTx{
    color: #FFFFFF !important;
}
.THIS .slds-popover__body{
    color: white !important;
}*/

/* JDA Custom */
/* Tooltip container */
.THIS .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.THIS .tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.THIS .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.THIS .tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.THIS .RemoveButton{
    background-color:#0059a2;
    color: #FFFFFF;
    font-family: 'Arial';
    width:140px;
    height:35px;
    border-radius:25px;
    background:#0059a2;
    color:white;
    /* font-family: 'GraphikRegular'; */

}

.THIS .RemoveInProgressButton{
    background-color:#FFFFFF;
    color: #0059a2;
    font-family: 'Arial';
    width:140px;
    height:35px;
    border-radius:25px;
    background:#FFFFFF;
    color:#0059a2;
    /* font-family: 'GraphikRegular'; */

}