.THIS {
    flex-grow: 1;
    margin: .5rem;
}
.THIS.popoverclass {
    min-height: 100px;
    max-width: 50px;
}
.THIS .popoverclass {
    min-height: 100px;
    max-width: 50px;
}
.THIS.no-pointer .pointer{
    visibility: hidden;
}

.THIS .organizer-grid{
	text-align: center; 
	width: 90%; 
	font-size: 14px;
}