.THIS hr {
	margin: 5px 0px;
}

.THIS .centered-buttons {
	width: 100%;
	text-align: center;
}

.THIS .red-text{
	color: red;
}

.THIS .blue-text {
	color: blue;
}

.THIS .orange-text {
	color: orange;
}

.THIS .button-link {
	line-height: 0px;
}