@font-face {
  font-family: 'PublicoHeadline-Medium-Web';
  src: url(../resource/PEOEdgeHeadlineBoldFont) format('woff');
}

@font-face {
  font-family: 'PublicoHeadline-Light-Web';
  src: url(../resource/PEOEdgeHeadlineFont) format('woff');
}

@font-face {
  font-family: 'Graphik-Regular-Web';
  src: url(../resource/PEOEdgeBodyFont) format('woff');
}

.comm-page-custom-help-center {
  background-color: #f2f4f7 !important;
}

.comm-page-custom-underwriting-questionnaire {
  background-color: #f2f4f7 !important;
}

.search-box {
  display: none !important;
}

.themeNotifications {
  display: none !important;
}

:root {
  --dxp-c-section-columns-max-width: 1440px;
}