.THIS {
    border:none;
}

.THIS .modal-header {
    border:none;
}

.THIS .slds-vertical-tabs { 
    border: none;
}

.THIS .slds-tabs_default__content{
    width: 90%;
}

/*.THIS .slds-large-size_12-of-12{
    width: 99%;
}

.THIS .slds-show{
    min-width: 95%;
}*/

.THIS .slds-vertical-tabs__content{
    overflow: auto;
}