@font-face{
    font-family: 'PublicoBanner';
    src: url('https://paychex--fullsandbx.sandbox.my.site.com/AccountantProgram/s/sfsites/c/resource/PaychexFont/Font_Graphik-Publico-Web/PublicoBanner-Bold-Web.woff') format('woff'); 
}  
.THIS {
    font-family: 'GraphikRegular';
}

.THIS .RemoveButton{
    background-color:#0059a2;
    color: #FFFFFF;
    font-family: 'Arial';
    width:140px;
    height:35px;
    border-radius:25px;
    background:#0059a2;
    color:white;
    /* font-family: 'GraphikRegular'; */

}

.THIS .RemoveInProgressButton{
    background-color:#FFFFFF;
    color: #0059a2;
    font-family: 'Arial';
    width:140px;
    height:35px;
    border-radius:25px;
    background:#FFFFFF;
    color:#0059a2;
    /* font-family: 'GraphikRegular'; */

}

.THIS h2{
        font-family: 'PublicoBanner';
        text-align: center;
}