.THIS .slds-button_brand,
.THIS .slds-button_neutral{
    margin-top: 1rem;
}
.THIS.spinnerHolder{
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
}