.THIS .parent-div-hover { 
    display: none; 
}

.THIS .child-div-content-hover:hover .parent-div-hover { 
    display : block; 
}

.THIS.modal-size {
    position: fixed;
    z-index: 10;
}

.THIS#hover-text{
    display: inline-block;
}

.THIS.initial-placement{
	left: -1000px;
}

.THIS .slds-popover{
	
    min-width: 400px;
}