.THIS{
    font-size: 16px;
}
.THIS .whiteSection{
    background-color:white;
}
.THIS .sectionTitle{    
    font-size:20px;
    font-family:"Graphik-Regular-Web";
}
.THIS .phoneNumber{
    color: #0059A2;
}
.THIS .caseTable{
    min-height:150px;
    max-height:400px;
    overflow:auto;
}