.THIS {
    border:none;
}

.THIS .modal-header {
    border:none;
}

.THIS .slds-vertical-tabs { 
    border:none;
}

.THIS .Address { 
    width: 100%;
}

.THIS .countShiftInfo{ 
    padding-top: 1.5rem;
    width: 70%;
}

.THIS .managerSelect{ 
    width: max-content;
}

.THIS .shiftInfoInput{
    margin:0px !important;
}
.THIS .shiftInfoCell{
    padding-left:10px !important;
}
.THIS .shiftInfoTable{
    overflow: auto;
    min-width:20rem;
}

.THIS .ManagerCell{
    padding-bottom: 0.5rem!important;
    padding-top: 1.7rem;
}