.THIS {
    flex-grow: 1;
    margin: .5rem;
}

.THIS .banner-body > .role-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.THIS .cell {
    display: flex;
    align-items: center;
    justify-content: center;
}