.THIS {
    background-color: #F2F4F7;
}
.THIS.scrollerSize {
    height: 80vh;
}

.THIS .medicalReqHT{
    margin-left:19.5rem;
    position:absolute;
}

.THIS .label-hidden > label {
    display: none;
}
.THIS .commFormsContainer{
    width:90%;
    margin:auto;
}
.THIS .slds-modal__header {
    background-color: #F2F4F7;
}

.THIS .benEffDate {
    margin-top: -2%;
    width: 98%;
    margin-left: 2%;
}

.THIS .textColor{
    color: red;
}

.THIS .fontSize{
    height:unset !important;
    max-height:unset !important; 
    background-color: #F2F4F7;
    font-size: large;
    color : red;
}