.wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	border: 1px solid black;
	border-radius: 10px;
    box-shadow: 0 1vmin 2.5vmin -2vmin rgba(0, 0, 0, 0.5);
	margin-bottom: 10px;
	padding: 12px 0;
}
.wrapper:is(:hover, :focus){
    transition: all 0.5s ease;
	box-shadow: 0 2vmin 2.5vmin -2vmin rgba(0, 0, 0, 0.5);
}
.fieldLabel{
	margin-left: 20px; 
	width: 20%;
	text-align: center;
}
.fieldValue{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 60%;
}
.phaseName{
	margin-right: 20px;
	width: 20%;
	text-align: center;
}
.line {
	width: 35%;
	height: 3px;
}
.success-line{
	background: #2E844A;
}
.error-line{
	background: #EA011E;
}
.warning-line{
	background: #FDB75D;
}