.THIS .SelfFund{
    position:absolute;
}
.THIS .SelfFundHT{
    margin-left: 16.2rem;
    margin-top: -5.72rem;
    position: absolute;
}
.THIS .DentalDiv.SelfFundDiv.VisionDiv.uiCheckDiv{
    /*margin-left:0.4rem;*/
}
.THIS .uiInput{
    /*padding: 0 var(--lwc-spacingXxSmall,0.25rem);*/
    
}
.THIS .LabelSpace{
    margin-top:1rem;
}

.THIS .CompInfoHeader{
    padding-top: 0px;
    background-color: #F2F4F7;
    border: none;
}

.THIS .slds-card{
    background-color: #F2F4F7;
    padding-top: 0px;
}

.THIS {
    background-color: #F2F4F7;
}

.THIS .slds-vertical-tabs { 
    border:none;
    width:100%;
}

.THIS .slds-select{
    width:100%;
    min-width:max-content;
}

.THIS .slds-dueling-list__options{
    height:175px !important;
}

.THIS .naicsTool {
    font-weight: bold;
}


.THIS .naicsToolLink p{
    padding-left: 6%;
}