.THIS {
    background-color:white !important;
    padding: 0% !important;
}

.THIS .slds-combobox{
    padding-right: 5%;
}

.THIS .slds-card__body{
    padding:0px !important;
}

.THIS .slds-card__header{
    padding:0px;
}

.THIS .slds-form-element{
    padding:0px;
}

.THIS .slds-form-element__label{
    display: table-cell;
}

.THIS .indent{
    margin: 0px !important; 
    position: relative; 
    bottom: 0rem; 
    left: 0.3rem; 
}