.THIS {
}

.THIS.scroll-container {
    overflow: scroll;
}
.THIS .scroll-container {
    overflow: scroll;
}

.THIS.container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.THIS .search-container {
    width: 80%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.THIS .search-box input {
    border-radius: .25rem 0rem 0rem .25rem;
}

.THIS.add-user-button {
    height: 32px;
}

.THIS .search-button {
    margin-top: 19px;
    height: 32px;
    border-radius: 0rem .25rem .25rem 0rem;
}