.THIS.maxWidth {
    max-width: 1250px;
}

.THIS {
    position: relative;
    left: 10%;
    margin-left: -11rem;
    overflow: auto;
}

.THIS .scrollDiv{
  background-color: #F2F4F7;
}

.THIS .slds-container_large{
   
}

.THIS .slds-card__body{
    padding: 10px;
    /*font-family:'Graphik-Regular-Web';*/
}

.THIS .slds-card__header{
    padding-top:0rem;
}
.THIS .slds-form-element__legend{
    font-weight: unset;
}

.THIS .slds-form-element__control .slds-radio{
   padding-left: 1.5rem;
}

.THIS .slds-form-element__control{
	display: flex;
	justify-content: flex-start;    
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.THIS .slds-form-element {
    margin: 1rem;
}

.THIS .slds-form-element__label{
	color: unset;
    /*font-family: 'Graphik-Regular-Web';*/
    font-size:16px;
}

.THIS .whyWeNeed{
    position: relative;
    bottom: 25%; 
    left: 3%;
    /*position: absolute;*/
    width: 70%;
    margin-top: 45%;
}

.THIS .tabHeader_title{
    /*font-family:"Graphik-Regular-Web";*/
    font-size:20px;
    text-align: center;
    font-weight: 600;
}

.THIS .tabHeader_supportText{
    /*font-family:"Graphik-Regular-Web";*/
    font-size:16px;
    text-align: center;
    margin: -0.25rem 0rem 1rem 0rem;
}

.THIS .slds-vertical-tabs { 
    border:none;
}

@font-face{
    font-family: 'PublicoHeadline-Medium-Web';
    src:url('/resource/PEOEdgeHeadlineBoldFont') format('woff');

}
@font-face{
    font-family: 'PublicoHeadline-Light-Web';
    src:url('/resource/PEOEdgeHeadlineFont') format('woff');
}

@font-face{
    font-family: 'Graphik-Regular-Web';
    src:url('/resource/PEOEdgeBodyFont') format('woff');
}

.THIS .slds-vertical-tabs__content{
    overflow: auto;
}