.THIS{
    font-size: 16px;
}

.THIS .slds-modal__container {
    display: table; /* This is the most important feature */
    overflow-x: hidden !important;
}

.THIS .slds-modal{
    display: table; /* This is the most important feature */
    overflow-y: hidden !important;
    width:100%;
}

.THIS .slds-card {
    /*border-top:2px solid #4BA1A4;*/
    border-left-color:#FFFFFF;
    border-bottom-color:#FFFFFF;
    border-right-color:#FFFFFF;
    border-radius:0px;
    box-shadow: 0px 2px 10px #e3e3e3;
}
.THIS .cardHeader{
    padding-left:12px;
    font-size: 20px;
    font-family:'PublicoHeadline-Medium-Web'; /*"Graphik-Regular-Web";*/
}
.THIS .cardData{
font-size: 13px;
}
.THIS .mainHeader{
    font-size:36px;
    font-family:'PublicoHeadline-Medium-Web';
    margin: auto;
  	width: 50%;
}
.THIS .cardHeight{
    min-height:250px;
    border-radius: 7px;
}
.THIS .sectionHeader{
    font-size:36px;
    font-family:'PublicoHeadline-Medium-Web';
    /* padding-left:10px; */
}
.THIS .customButton{
    /*border-radius:25px;*/
    min-width:135px;
    padding:5px 24px;
    border-width:2px;
    border-style:solid;
    transition:all .2s;
    /*left: 1rem;*/
}
.THIS .moveleft{
     left: 0rem;
}
.THIS .image{
    border-color:#ECEBEB;
    border-radius:0px;
}

.THIS a:link, .THIS a:visited {
      text-decoration: underline;
}

.THIS .knowledgeContainer{
    border-color:red;
    border-radius:0px;
    /*background-color:#F2F4F7;*/
    min-height:400px;
    max-height:400px;
    overflow:auto;
}
.THIS .footer {
    min-height:200px;
}
.THIS .stickyDiv {
    position: fixed;
    top:74px;
    left:0px;
    right:0px;
    width: 100%;
    z-index: 99;
}

.THIS .stickyInnerDiv {
    padding: 16px 30px 16px 100px;
    background-color: #fdf3de;
    width: 60%;
}

@font-face{
    font-family: 'PublicoHeadline-Medium-Web';
    src:url('/GettingStarted/s/sfsites/c/resource/PEOEdgeHeadlineBoldFont') format('woff');
}
@font-face{
    font-family: 'PublicoHeadline-Light-Web';
    src:url('/GettingStarted/s/sfsites/c/resource/PEOEdgeHeadlineFont') format('woff');
}
@font-face{
    font-family: 'Graphik-Regular-Web';
    src:url('/GettingStarted/s/sfsites/c/resource/PEOEdgeBodyFont') format('woff');
}