.THIS .slds-radio {  
    display: inline !important;  
}

.THIS {
    border:none;
}

.THIS .modal-header {
    border:none;
}

.THIS .slds-tabs_scoped__content slds-show { 
    border:none;
}
.THIS .slds-card{
     border:none;
}

.THIS .question{
    font-size: 1.2em;
    height:0px;
}