.slds-card__footer{
    border-top: 1px solid #dddbda;
    padding: 0.75rem 1rem;
}
.dateFormat{
   display: none;
}
.block-display{
    display: block !important;
}

.slds-input{
    margin-bottom: 0.5rem !important;
}
.slds-form-element__static{
    margin-bottom: 0.5rem !important;
}
.slds-select{
    margin-bottom: 0.5rem !important;
}
h3{
	display:inline-block !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    font-color: #3c3d3e !important;
}
.lookup-input-slds select{
	background-color: #fff;
    color: #16325c;
    border: 1px solid #d8dde6;
    border-radius: .25rem;
    width: 20%;
    transition: border .1s linear,background-color .1s linear;
    height: calc(1.875rem + (1px * 2));
}
.lookup-input-slds .lookupInput input{
	background-color: #fff;
    color: #16325c;
    border: 1px solid #d8dde6;
    border-radius: .25rem;
    width: 20%;
    transition: border .1s linear,background-color .1s linear;
    display: inline-block;
    padding: 0 1rem 0 .75rem;
    min-height: calc(1.875rem + (1px * 2));
    margin-left: 5px;
}

.lookupInput input.lookup-input-slds{
	background-color: #fff;
    color: #16325c;
    border: 1px solid #d8dde6;
    border-radius: .25rem;
    width: 100%;
    transition: border .1s linear,background-color .1s linear;
    display: inline-block;
    padding: 0 1rem 0 .75rem;
    min-height: calc(1.875rem + (1px * 2));
}
.slds-col{
	flex: none !important;
}

hr{
	margin: 1rem 0 !important;
}

h3.slds-section__title{
	display: flex !important;
}

.form-element-error{
	border: 2px solid red !important;
}

.centered-buttons{
	width: 100%; 
	text-align: center;
}

.banner-lightning{
	width: 100%;
}

.slds-button_brand{
	background-color:rgba(27, 82, 151, 1.0) !important;
	border-color: rgba(27, 82, 151, 1.0) !important;
}


.headerRed {
    font-size:15px;
    text-align: center;
    color: red;
    font-family: FGMedCon, arial;
    margin: 12px 0 6px;
    font-weight: bold;
    font-style: normal;
    line-height: 17px;
    white-space: nowrap;
}
.headerBlack {
    font-size:15px;
    text-align: center;
    color: blue;
    font-family: FGMedCon, arial;
    margin: 12px 0 6px;
    font-weight: bold;
    font-style: normal;
    line-height: 17px;
    white-space: nowrap;
}

.spinner-background{
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    opacity: 0.25; 
    z-index: 1000; 
    background-color: black;
}

.spinner-container{
    position: fixed; 
    left: 0; 
    top: 0;
    bottom: 0; 
    right: 0; 
    z-index: 1001; 
    margin-top: 30vh; 
    text-align:center;
}

.spinner-box{
    display: inline-block; 
    padding: 2px; 
    background-color: #fff;
}

.spinner-gif{
    float: left; 
    margin: 8px;
}

.spinner-text{
    display: inline-block; 
    padding: 10px 0px;
}