.THIS .slds-file-selector__body{
	padding: 1em;    
}
.THIS h1{
    font-size:18px;
}

.THIS .slds-tabs_default__item.slds-is-active{
     background: rgba(1, 118, 211, 0.62);
}

.THIS .HSFSummaryCard{
    width: 100%;
    box-shadow: 0px 2px 5px silver;
    text-align: center;
}

.THIS .slds-vertical-tabs__link{
    font-weight:bold;
}
.THIS .slds-icon-utility-stop lightning-primitive-icon .slds-icon{fill: rgb(229, 229, 229)!important;}
.THIS .slds-icon-utility-success lightning-primitive-icon .slds-icon{ 
    fill: lightseagreen !important; }

.THIS.spinner{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.THIS .saveAndComplete {
    opacity: 0;
}
.THIS .saveAndComplete.hover {
    opacity: 1.0;
    color:red;
}