.centered-buttons{
	text-align: center;
}

.centered-buttons{
	border-top: 1px solid #dbdbdb;
	width: 100%;
	margin: 0 -7px;
	padding: 7px 0px 0px 0px; 
}

.page-block-section-padded{
	padding-bottom: 7px;
}

.spinner-background{
	position: fixed; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	opacity: 0.25; 
	z-index: 1000; 
	background-color: black;
}

.spinner-container{
	position: fixed; 
	left: 0; 
	top: 0;
	bottom: 0; 
	right: 0; 
	z-index: 1001; 
	margin-top: 30vh; 
	text-align:center;
}

.spinner-box{
	display: inline-block; 
	padding: 2px; 
	background-color: #fff;
}

.spinner-gif{
	float: left; 
	margin: 8px;
}

.spinner-text{
	display: inline-block; 
	padding: 10px 0px;
}

#statusSpinner{
	visibility: hidden;
}