.buttonSpecs{
    fill: grey;
}

.rotated {
    animation: rotate 1.5s linear infinite; /* Apply the rotation animation */
}

@keyframes rotate {
    from {
        transform: rotate(0deg); /* Start from 0 degrees rotation */
    }
    to {
        transform: rotate(360deg); /* End at 360 degrees rotation (full circle) */
    }
}