.THIS .modal-footer {
	text-align: center; 
	width: 100%; 
	margin-top: 0.75rem; 
	border-top: 1px solid rgb(221, 219, 218);
}

.THIS.create-activity-body {
	height: 100%;
	width: 100%;
	border: 1px solid rgb(221, 219, 218);
	box-sizing: border-box;
	border-radius: .25rem;
}

.THIS .small-horizontal-rule {
	margin: .75rem 0 1rem 0;
}

.THIS .description-text-area textarea {
	height: 125px;
}

.THIS .form-component {
	margin-top: 0.5rem;
}

.THIS .error-text{
	color: rgba(194, 57, 52, 1);
}