.THIS {
}
.THIS .pageBody{
    z-index: 0;
}
.THIS .loadingBox{
    z-index: 1;
}
.THIS .sectionTitle{
    width:100% !important;
}
.THIS .slds-accordion__list-item{
    border: 2px solid #f3f3f3 !important;
}
.THIS .slds-section__title{
    text-align:center !important;
}
.THIS .docAccordionTitle{
    padding-left:5px;
}
.THIS .summary_normal{
    /*background-color:#f3f3f3 !important;*/
    background: rgb(185 185 185 / 21%);
}
.THIS .summary_approved{
    /*background-color:#f3f3f3 !important;*/
    background: rgb(12 157 0 / 11%);
}
.THIS .summary_discrepancy{
    /*background-color:#f3f3f3 !important;*/
    background: rgb(255 136 136 / 41%);
}
.THIS .summary_submit_failed{
    /*background-color:#f3f3f3 !important;*/
    background: rgb(224 199 57 / 20%);
}