.THIS .slds-accordion__list-item.Discrepancy .slds-accordion__section .slds-accordion__summary .slds-accordion__summary-heading .slds-accordion__summary-action .slds-truncate{
     color:red;
}
.THIS .slds-accordion__list-item.Discrepancy .slds-accordion__section .slds-accordion__summary .slds-accordion__summary-heading .slds-accordion__summary-action .slds-accordion__summary-content{
     color:red;
}

.THIS .slds-accordion__list-item.Discrepancy .slds-accordion__content{
     overflow:auto;
    
}

.THIS .slds-table--bordered{
    padding-right: 10rem
}

.THIS.hsfModalSpinner{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.THIS .hsftimeStamp .slds-form-element{
    margin-left: -3%;
    margin-top: 4.5%;
}

.THIS .hsftimeStampWithNoCs .slds-form-element{
    margin-left: -3%;
    margin-top: 4.5%;
    margin-bottom: -5%;
}

.THIS .hsftimeStamp .slds-form-element__row{
    margin-top: -20.4%;
    margin-left: 17%;
    width: 60%;
}

.THIS .hsftimeStampWithNoCs .slds-form-element__row{
    margin-top: -20.4%;
    margin-left: 17%;
    width: 60%;
}

.THIS .hsftimeStamp .slds-input__icon-group_right{
    top: 30%;
}

.THIS .hsftimeStampWithNoCs .slds-input__icon-group_right{
    top: 30%;
}

.THIS .dtField{
    width: 80%;
}

.THIS .HSFSummaryCard{
    width: 100%;
    box-shadow: 0px 2px 5px silver;
    text-align: center;
}

.THIS .hsfModalSection{
    width: 50%;
    margin-left: 28%;
}

.THIS .HSFSummaryCard .textarea-container{
    height: 10rem;
}
.THIS .hsfErrorLogSection{
    margin-top: 3%;
}
.THIS .refreshButton{
    margin-top: -0.4%;
    margin-left: 56%;
}
.THIS .refreshButtonDoc{
    margin-top: -0.4%;
    margin-left: 76%;
}