.THIS .slds-radio {  
    display: inline !important;  
}

.THIS {
    border:none;
}

.THIS .modal-header {
    border:none;
}

.THIS .slds-card{
     border:none;
}
.THIS .required{
    color:red;
}

.THIS .question{
    height:0px;
}
.THIS .policyInput{
    margin:0px !important;
}
.THIS .policyCell{
    padding-left:5px !important;
}
.THIS .policyTable{
    overflow: auto;
    min-width:500px;
}